  /* Noticias Page */

  .noticiasPage-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .noticiasPage-container h2 {
    margin: 20px 0;
    text-align: start;
    width: 100%;
    font-weight: bold;
    position: relative; 
  }
  
  .noticiasPage-container h2::after {
    content: '';
    width: 100%;
    color: black;
    position: absolute;
    left: 0;
    bottom: -10px; 
    height: 1px;
    background-color: currentColor; 
  }
  
  .noticiasPage-banner-section {
    position: relative;
    height: 670px;
    width: 100vw;
    overflow: hidden;
  }
  
  .noticiasPage-banner-image {
    width: 100%;
    height: 100%;
    object-fit: fll; 
  }
  
  .noticiasPage-banner-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
    justify-content: center;
    width: 85%;
  }

  .noticiasPage-banner-column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 70%;
  }

  .noticiasPage-banner-column1 section {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 1rem;
    height: 100%;
  }

  .noticiasPage-banner-column1 section div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    color: white;
    margin: 1rem 0;
  }

  .noticiasPage-banner-column1-info {
    font-size: 1.5vw;
  }

  .noticiasPage-banner-column1 section img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }

  .noticiasPage-divider {
    height: 70%;
    width: 1.5%;
    background: white;
    margin: auto;
  }

  .noticiasPage-banner-column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 75%;
    margin: auto;
  }

  .noticiasPage-banner-column2 img {
    width: 100%;
    border-radius: 20px;
    object-fit: fill;
  }

  .noticiasPage-banner-column2 h5 {
    color: white;
    margin: 2rem auto;
    text-align: center;
  }

  .noticiasPage-all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }
  
  .noticiasPage-all-noticia {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }

  .noticiasPage-all-noticia img {
    width: 186px;
    height: 186px;
    object-fit: cover;
    border-radius: 10px;
  }

  .noticiasPage-all-noticia div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  .noticiasPage-all-noticia div h5 {
    font-weight: bold;
    font-size: 22px;
  }

  .noticiasPage-all-noticia div p {
    color: gray;
  }

  /* NoticiasPage Recomendaciones */
  .noticiasPage-recomendaciones-section {
      width: 100vw;
      position: relative;
      height: 636px;
    }

    .noticiasPage-slider-container {
      width: 100%;
      margin: auto;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    
    .noticiasPage-slider-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100%;
    }

    .noticiasPage-slider-cards-column1 {
      display: flex;
      gap: 3rem;
      width: '100%';
      justify-content: center;
      align-items: center;
    }

    .noticiasPage-slider-cards-column1 h1 {
      font-size: 22vw;
      color: white;
    }

    .noticiasPage-flixprop-slider-img {
      width: 226px;
      height: 322px;
      border-radius: 20px;
      object-fit: cover;
    }

    .noticiasPage-slider-cards-column2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: '100%';
      color: white;
      width: 80%;
    }

    .noticiasPage-slider-cards-column2 h5 {
      font-size: 2vw;
    }

    .noticiasPage-slider-cards-column2 p {
      font-size: 1.5vw;
    }

    .noticiasPage-dots-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.5rem;
      }


    @media screen and (max-width: 960px) {

      .noticiasPage-banner-section {
        height: 285px;
      }
      .noticiasPage-container {
          width: 90%;
          height: 100%;
        }

        .noticiasPage-container h2 {
          margin: 20px 0;
        }

        .noticiasPage-flixprop-slider-img {
          height: 146px;
          width: 100%;
          margin: 0 auto;
        }

      .noticiasPage-banner-container {
          display: flex;
          flex-direction: column;

          width: 90%;
          top: -5%;
        }

        .noticiasPage-slider-cards {
          gap: 10px;
        }

        .noticiasPage-banner-container h3 {
          color: white;
          text-align: start;
          width: 100%;
          font-size: 18px;
          padding-top: 2rem;
        }

        .noticiasPage-slider-cards-column {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .noticiasPage-slider-cards-column h5 {
          color: white;
          font-size: 15px;
        }

        .noticiasPage-dots-container {
          margin-top: 0px;
        }

        .noticiasPage-banner-container ul {
          padding-left: 0px;
          margin: 0;
        }

        .noticiasPage-all {
          grid-template-columns: 1fr;
          margin: 0px ;
          gap: 0px;
        }

        .noticiasPage-all ul {
          padding: 0;
        }


        .noticiasPage-all-noticia img {
          width: 100%;
          margin-bottom: 2rem;
        }

        .noticiasPage-all-noticia div {
          justify-content: space-around;
          height: 100%;
        }

        .noticiasPage-all-noticia div h5 {
          font-size: 15px;
        }

        .noticiasPage-recomendaciones-section {
          margin-bottom: 10px;
          height: 265px;
        }

        .noticiasPage-recomendaciones-section ul {
          margin: 10px;
          padding-left: 0;
        }

        .noticiasPage-recomendaciones-section li {
          width: 100vw;
        }

        .noticiasPage-slider-container {
          width: 100%;
          height: 240px;
        }

        .noticiasPage-slider-cards-column1 {
          gap: 0rem;
          padding-left: 10px;
        }

        .noticiasPage-slider-cards-column1 h1 {
          font-size: 20vw;
          width: fit-content;
        }

        .noticiasPage-slider-cards-column1 img {
          width: 100px;
        }

        .noticiasPage-slider-cards-column2 {
          gap: 5px;
        }

        .noticiasPage-slider-cards-column2 h5 {
          font-size: 10px;
        }

        .noticiasPage-slider-cards-column2 p {
          font-size: 8px;
        }

        

      }