/* MISION Y VISION */

.footerLinks-container {
    width: 70%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .footerLinks-container h1 {
    text-align: center;
  }
  
  .mision-vision {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 1rem;
    align-items: center;
  }
  
  .mision-vision-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .mision-vision img {
    width: 100%;
    border-radius: 15px;
  }
  
  .footerLinks-container p {
    color: black;
    font-size: larger;
  }

  .gift {
    width: 50%;
    margin: 1rem auto;
  }

  .email-flixprop {
    color: black;
  }

  @media screen and (max-width: 960px) {

    .mision-vision {
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    .mision-vision-container p {
        color: black;
        font-size: medium;
      }
  
  }