  /* Noticias Page */

  .noticiasPage-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .noticiasPage-container h2 {
    margin: 50px 0;
    text-align: start;
    width: 100%;
    font-weight: bold;
    position: relative; 
  }
  
  .noticiasPage-container h2::after {
    content: '';
    width: 100%;
    color: black;
    position: absolute;
    left: 0;
    bottom: -10px; 
    height: 1px;
    background-color: currentColor; 
  }
  
  .noticiasPage-banner-section {
    position: relative;
    height: 670px;
    width: 100vw;
    overflow: hidden;
  }
  
  .noticiasPage-banner-image {
    width: 100%;
    height: 100%;
    object-fit: fll; 
  }
  
  .noticiasPage-banner-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
    justify-content: center;
    width: 75%;
  }

  .noticiasPage-banner-column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 70%;
  }

  .noticiasPage-banner-column1 section {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 1rem;
    height: 100%;
  }

  .noticiasPage-banner-column1 section div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    color: white;
    margin: 1rem 0;
  }

  .noticiasPage-banner-column1-info {
    font-size: 1.5vw;
  }

  .noticiasPage-banner-column1 section img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
  }

  .noticiasPage-divider {
    height: 70%;
    width: 1.5%;
    background: white;
    margin: auto;
  }

  .noticiasPage-banner-column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 75%;
    margin: auto;
  }

  .noticiasPage-banner-column2 img {
    width: 100%;
    border-radius: 20px;
    object-fit: fill;
  }

  .noticiasPage-banner-column2 h5 {
    color: white;
    margin: 2rem auto;
    text-align: center;
  }

  .noticiasPage-all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }
  
  .noticiasPage-all-noticia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .noticiasPage-all-noticia img {
    width: 15vw;
    height: 187px;
    object-fit: cover;
    border-radius: 30px;
  }

  .noticiasPage-all-noticia div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-size: 20vw;
  }

  .noticiasPage-all-noticia div h5 {
    font-weight: bold;
    font-size: 1.4vw;
  }

  .noticiasPage-all-noticia div p {
    color: gray;
  }

  /* NoticiasPage Slider */
  .noticiasPage-slider-section {
      width: 100vw;
      position: relative;
      height: 100%;
    }

    .noticiasPage-slider-container {
      width: 75%;
      margin: auto;
      position: absolute;
      top: 18%;
      left: 50%;
      transform: translateX(-50%); 
      height: 100%;
    }
    
    .noticiasPage-slider-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      height: 100%;
    }

    .noticiasPage-slider-cards-column1 {
      display: flex;
      gap: 3rem;
      width: '100%';
      justify-content: center;
      align-items: center;
    }

    .noticiasPage-slider-cards-column1 h1 {
      font-size: 20vw;
      color: white;
    }

    .noticiasPage-slider-cards-column2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: '100%';
      color: white;
    }

    .noticiasPage-slider-cards-column2 h5 {
      font-size: 2vw;
    }

    .noticiasPage-slider-cards-column2 p {
      font-size: 1.5vw;
    }
    
    .noticiasPage-flixprop-slider-img {
      width: 12rem;
      height: 17rem;
      border-radius: 20px;
      object-fit: cover;
    }

    .noticiasPage-dots-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.5rem;
      }


    @media screen and (max-width: 960px) {
    .noticiasPage-container {
        width: 90%;
      }

    .noticiasPage-banner-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 90%;
        top: -5%;
      }

      .noticiasPage-slider-cards {
        gap: 10px;
      }

      .noticiasPage-banner-image {
        height: 400px;
      }

      .noticiasPage-flixprop-slider-img {
        height: 170px;
        width: 100%;
        margin: 0 auto;
      }

      .noticiasPage-banner-container h3 {
        color: white;
        text-align: start;
        width: 100%;
    
      }

      .noticiasPage-slider-cards-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .noticiasPage-slider-cards-column h5 {
        color: white;
        font-size: 15px;
      }

      .noticiasPage-dots-container {
        margin-top: 0px;
      }

      .noticiasPage-banner-container ul {
        padding-left: 0px;
      }

      .noticiasPage-banner-section {
        height: 430px;
      }








      .noticiasPage-all {
        grid-template-columns: 1fr;
        margin: 0px;
      }

      .noticiasPage-all-noticia img {
        width: 100%;
      }

      .noticiasPage-all-noticia div {
        justify-content: space-around;
      }

      .noticiasPage-all-noticia div h5 {
        font-size: 15px;
      }









        .noticiasPage-slider-container {
          width: 90vw;
          height: 300px;
        }

        .noticiasPage-slider-container ul {
          padding: 0px;
          margin: 0px;
          height: 70%;
          width: 100%;
        }

        .noticiasPage-slider-cards-column1 {
          gap: 1rem;
        }

        .noticiasPage-slider-cards-column1 h1 {
          font-size: 20vw;
          width: fit-content;
        }

        .noticiasPage-slider-cards-column1 img {
          width: 100px;
        }

        .noticiasPage-slider-cards-column2 {
          gap: 0.5rem;
        }

        .noticiasPage-slider-cards-column2 h5 {
          font-size: 12px;
        }

        .noticiasPage-slider-cards-column2 p {
          font-size: 10px;
        }

      }